#beforeDeal{
  position: relative;  
  width: calc(100% - 220px);
  h5{
    margin-top: 5px;
    margin-bottom: 15px;
    @include flex(space-between);
  }
  .content{
    @include box();
    @extend .radius;
    @extend .mt;
    @extend .padding-20;
    h4{
      border-left: 4px solid $primary2;
      @extend .pl;
      @extend .ml;
      @extend .mb;
    }
    .ant-row{
      margin-bottom: 16px;
    }
    .ant-input{
      padding-left: 5px;
    }
    .ant-select{
      width: 150px;
    }
    .supply_name{
      position: relative;
      span{
        position: absolute;
        font-size: 10px;
        color: #f00;
        width: 50px;
        top:-8px;
      }
    }
  }
}