#enquiry{
  width: 100%;
  h3{
    @include box();
    @include flex(space-between);
    padding: 15px;
    @extend .radius;
    @extend .mb;
    background-color:$white;
    .status{
      color: $primary2;
      font-size: 16px;
      font-weight: 600;
    }
  }
  .content{
    @include box();
    @extend .radius;
    @extend .mt;
    @extend .padding-20;
    h4{
      border-left: 4px solid $primary2;
      @extend .pl;
      @extend .ml;
      @extend .mb;
    }
    .ant-row{
      margin-bottom: 16px;
    }
    .cat-time{
      margin-left: 15px;
    }
    .ant-col-2{
      text-align: right;
    }
  }
}