.ant-modal {
  .ant-form-item {
    .ant-select {
      width: 80%;

      .ant-input {
        width: 100%;
      }
    }

    .ant-input {
      padding-left: 10px;
      width: 80%;
    }

    textarea.ant-input {
      padding-top: 5px;
    }

    .ant-upload {
      ul {
        width: 250px;

        .file-list-item {
          height: 35px;
          background-color: #f7f7f7;
          margin-top: 10px;
          padding: 8px 6px 6px 10px;
          position: relative;
          @extend .radius;

          .svg-icon {
            width: 17px;
            height: 17px;
            position: relative;
            bottom: 7px;
          }

          span {
            display: inline-block;
            margin-left: 5px;
            width: 50%;
            @extend .ellipsis;
          }

          .del {
            position: absolute;
            right: 10px;
          }
        }
      }
    }
  }
}